<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<title>Insert title here</title>
</head>
<body>

	<h4>Clique em "CADASTRO" para seguir</h4>
	<a href="/cadastropessoa">CADASTRO</a>

 	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>